@model Hall_Boking_System.Models.Testimonial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Testimonial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestimonialOpinion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestimonialOpinion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acceptlist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acceptlist.AcceptStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customers.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
