@model IEnumerable<Hall_Boking_System.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
              <img src=@Url.Content("~/Images/"+@item.CategoryImage) style="border-radius:20%;" width="100" height="100" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" >Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
