@{
    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
    var user = ViewBag.NumberOfUser;
    var booked = ViewBag.HallBooked;
    var notbooked = ViewBag.HallNotBooked;
    var allbooked = ViewBag.AllHall;
}
<head>
@*     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Cards</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<div class="row">

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                       All Users
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@user</div>
                </div>
                <div class="col-auto">
                    <i class="fa fa-users fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        All Booked
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@allbooked</div>
                </div>
                <div class="col-auto">
                   <i class="fa fa-home fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Earnings (Monthly) Card Example -->
 <div class="col-xl-3 col-md-6 mb-4">
   <div class="card border-left-info shadow h-100 py-2">
       <div class="card-body">
           <div class="row no-gutters align-items-center">
               <div class="col mr-2">
                   <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                       Hall Booked
                   </div>
                   <div class="row no-gutters align-items-center">
                       <div class="col-auto">
                           <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@booked</div>
                       </div>
                   </div>
               </div>
               <div class="col-auto">
                  <i class="fa fa-home fa-2x text-gray-300"></i>
               </div>
           </div>
       </div>
   </div>
</div>

<!-- Pending Requests Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
   <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
         <div class="row no-gutters align-items-center">
             <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                    Hall Not Booked
                </div>
             <div class="h5 mb-0 font-weight-bold text-gray-800">@notbooked</div>
             </div>
             <div class="col-auto">
                <i class="fa fa-home fa-2x text-gray-300"></i>
             </div>
         </div>
      </div>
   </div>
</div>
</div>

<div style="width: 400px;">
<div>
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    var x = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.categoriesName));
        var y = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.count));

   const data = {
        labels: x,
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: y,
        }]
    };

    const config = {
        type: 'polarArea',
        data: data,
        options: {}
    };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
</div>