@model IEnumerable<Hall_Boking_System.Models.Acceptance>
@{
   Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,700" rel="stylesheet" />
    <link href="~/SearchAssests/css/main.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />
    <style>
        .s009 {
             min-height: 0px;
             background:none;
        }
    </style>
</head>
<body>
    <div class="col-lg-12 col-md-12">
   <div class="card">
      <div class="card-header card-header-primary" style="background: linear-gradient(60deg);"> 
    <div class="s009" style="background:none">
      <form action="Report" method="post">
        <div class="inner-form">
          <div class="basic-search">
            <div class="input-field">
              <input id="search" type="text" placeholder="Type Keywords" />
              <div class="icon-wrap">
                <svg class="svg-inline--fa fa-search fa-w-16" fill="#ccc" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="advance-search">
            <div class="row">
              <div>
                <div>
                   <label for="AcceptDate">Date Month:</label>
                   <input  type="month" class="form-control" name="AcceptDate" placeholder="Start Date" style="width:152px"/>
                   <br />
                </div>
              </div>
              <div class="row third">
                  <div class="input-field">
                    <div class="group-btn">
                      <button type="submit" class="btn-search">SEARCH</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
   <br />
   <br />
    <div class="row">
        <div class="col-12">
            <table class="table table" id="example">
                <thead class="table-dark">
                    <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Hall Name</th>
                    <th>Date In</th>
                    <th>Paymint</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model ){
                    
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customers.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customers.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hall.HallName)
                            </td>
                             <td>
                                @Html.DisplayFor(modelItem => item.Reservation.DateIn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reservation.Payment.PaymentAmount)
                            </td>
                        </tr>
                    }
                        <tr>
                            <td>Users </td>
                            <td>@ViewBag.AllUser</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Date Report</td>
                            <td>@ViewBag.ReportDate</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Totil Paymint</td>
                            <td>@ViewBag.sum</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>
<script>
    $(document).ready(function(){
        $('#example').DataTable({
            dom:'Bfrtip',
            buttons:[
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });;
    });
</script>
<script src="~/SearchAssests/js/extention/choices.js"></script>
    <script>
      const customSelects = document.querySelectorAll("select");
      const deleteBtn = document.getElementById('delete')
      const choices = new Choices('select',
      {
        searchEnabled: false,
        itemSelectText: '',
        removeItemButton: true,
      });
      deleteBtn.addEventListener("click", function(e)
      {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
          deleteAll[i].click();
        }
      });

    </script>
</body>