@model IEnumerable<Hall_Boking_System.Models.Home>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}


@*<p>
    <a asp-action="Create">Create New</a>
    
</p>*@
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeImage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeImage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeImage3) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
              <img src=@Url.Content("~/Images/"+@item.HomeImage1) style="border-radius:10%;" width="150" height="150" />
            </td>
            <td>
              <img src=@Url.Content("~/Images/"+@item.HomeImage2) style="border-radius:10%;" width="150" height="150" />
            </td>
            <td>
              <img src=@Url.Content("~/Images/"+@item.HomeImage3) style="border-radius:10%;" width="150" height="150" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> @*|
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
@*                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
